
// Fonts
@import url(https://fonts.googleapis.com/css?family=Exo+2:500|Roboto);

// Icons
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

// Bulma
$primary: #e65722;

$family-primary: 'Roboto', sans-serif;

$navbar-height: 4rem;
$navbar-item-img-max-height: 4rem;

//@import "~bulma";
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/layout/footer.sass";
@import "~bulma/sass/layout/section.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/level.sass";
@import "~bulma/sass/components/tabs.sass";
@import "~bulma/sass/elements/table.sass";
@import "~bulma/sass/components/message.sass";
@import "~bulma/sass/elements/form.sass";
@import "~bulma/sass/components/card.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/components/panel.sass";
@import "~bulma/sass/elements/icon.sass";
@import "~bulma/sass/components/pagination.sass";
@import "~bulma/sass/elements/tag.sass";
@import "~bulma/sass/elements/other.sass";


body {
font-size: 1.25rem;
}
.navbar-item {
font-family: 'Exo 2', sans-serif;
}